.container{

    position: fixed;
    height: 500px;
    width: 500px;    
    
}
.list{
    overflow:scroll;
    max-height: 300px;
}
.button-close {
    position: absolute;
    width: 20px;
    bottom: 0px;
    right: 0px; 
}
.button-submit {
    position: absolute;
    width: 20px;
    bottom: 0px;
    left: 0px; 
}